@model ESG.Model.Entities.News 
@{
    ViewBag.Title = "NewsDetail";
}

<!-- LIVE NEWS WIDGET WRAP -->
<div class="live-news-widget-wrap">
    <!-- LIVE NEWS WIDGET -->
    <div class="live-news-widget grid-limit">
        <!-- LIVE NEWS WIDGET STAIRS -->
        <div class="live-news-widget-stairs left red">
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
        </div>
        <!-- /LIVE NEWS WIDGET STAIRS -->
        <!-- LIVE NEWS WIDGET STAIRS -->
        <div class="live-news-widget-stairs right blue">
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
        </div>
        <!-- /LIVE NEWS WIDGET STAIRS -->
        <!-- LIVE NEWS WIDGET TITLE WRAP -->
        <div class="live-news-widget-title-wrap">
            <img class="live-news-widget-icon" src="~/Content/img/icons/live-news-icon.png" alt="live-news-icon">
            <p class="live-news-widget-title">Live News</p>
        </div>
        <!-- /LIVE NEWS WIDGET TITLE WRAP -->
        <!-- LIVE NEWS WIDGET TEXT WRAP -->
        <div id="lineslide-wrap1" class="live-news-widget-text-wrap">
            <p class="live-news-widget-text"></p>
        </div>
        <!-- /LIVE NEWS WIDGET TEXT WRAP -->
    </div>
    <!-- /LIVE NEWS WIDGET -->
</div>
<!-- /LIVE NEWS WIDGET WRAP -->
<!-- LAYOUT CONTENT 1 -->
<div class="layout-content-1 layout-item-3-1 grid-limit">
    <!-- LAYOUT BODY -->
    <div class="layout-body">
        <!-- LAYOUT ITEM -->
        <div class="layout-item gutter-big">
            <!-- POST OPEN -->
            <div class="post-open gaming-news">
                <!-- POST OPEN IMG -->
                <figure class="post-open-img liquid">
                    <img src="~/Content/img/posts/13.jpg" alt="post-13">
                </figure>
                <!-- /POST OPEN IMG -->
                <!-- POST OPEN CONTENT -->
                <div class="post-open-content">
                    <!-- POST OPEN BODY  -->
                    <div class="post-open-body">
                        <!-- TAG LIST -->
                        <div class="tag-list">
                            <a href="news-v1.html" class="tag-ornament">Gaming News</a>
                        </div>
                        <!-- /TAG LIST -->
                        <!-- POST OPEN TITLE -->
                        <p class="post-open-title">@Model.NewsTitle</p>
                        <!-- /POST OPEN TITLE -->
                        <!-- POST AUTHOR INFO -->
                        <div class="post-author-info-wrap">
                            <!-- USER AVATAR -->
                            <a href="search-results.html">
                                <figure class="user-avatar tiny liquid">
                                    <img src="~/Content/img/users/01.jpg" alt="user-01">
                                </figure>
                            </a>
                            <!-- /USER AVATAR -->
                            <p class="post-author-info small light">By <a href="search-results.html" class="post-author">@Model.NewsCreatedUser.UserName</a><span class="separator">|</span>@Model.NewsDate<span class="separator">|</span><a href="#op-comments" class="post-comment-count">174 Comments</a></p>
                        </div>
                        <!-- /POST AUTHOR INFO -->
                        <!-- POST OPEN TEXT -->
                        <p class="post-open-text bold">The new game from the world famous “Eternity Studios” is back with a new adventure game with a lot of classic and puzzle elements.</p>
                        <!-- /POST OPEN TEXT -->
                        <!-- POST OPEN TEXT -->
                        <p class="post-open-text">@Model.NewsDesc</p>
                        <!-- /POST OPEN TEXT -->
                        <!-- POST OPEN TEXT -->
                        <p class="post-open-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem riam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam e quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratitate sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas ullamco laboris nisi ut aliquip ex ea commodonulla pariatur?</p>
                        <!-- /POST OPEN TEXT -->
                        <!-- POST OPEN QUOTE -->
                        <div class="post-open-quote">
                            <!-- QUOTE TEXT -->
                            <p class="quote-text">We are very proud to be one of the largest gaming industries in the world and we can assure that the new game <span class="highlight">will release before 2016</span></p>
                            <!-- /QUOTE TEXT -->
                        </div>
                        <!-- /POST OPEN QUOTE -->
                        <!-- POST OPEN TEXT -->
                        <p class="post-open-text">Nemo enim ipsam e quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratitate sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.</p>
                        <!-- /POST OPEN TEXT -->
                        
                    </div>
                    <!-- /POST OPEN BODY -->
                    <!-- POST OPEN SIDEBAR -->
                    <div class="post-open-sidebar">
                        <!-- SOCIAL LINKS -->
                        <div class="social-links medium vertical animated">
                            <!-- BUBBLE ORNAMENT -->
                            <a href="#" class="bubble-ornament big fb">
                                <!-- FACEBOOK ICON -->
                                <svg class="facebook-icon big">
                                    <use xlink:href="#svg-facebook"></use>
                                </svg>
                                <!-- /FACEBOOK ICON -->
                                <p class="bubble-ornament-text">120</p>
                                <p class="bubble-ornament-text hover-replace">Share</p>
                            </a>
                            <!-- /BUBBLE ORNAMENT -->
                            <!-- BUBBLE ORNAMENT -->
                            <a href="#" class="bubble-ornament big twt">
                                <!-- TWITTER ICON -->
                                <svg class="twitter-icon big">
                                    <use xlink:href="#svg-twitter"></use>
                                </svg>
                                <!-- /TWITTER ICON -->
                                <p class="bubble-ornament-text">63</p>
                                <p class="bubble-ornament-text hover-replace">Share</p>
                            </a>
                            <!-- /BUBBLE ORNAMENT -->
                            <!-- BUBBLE ORNAMENT -->
                            <a href="#" class="bubble-ornament big gplus">
                                <!-- GPLUS ICON -->
                                <svg class="gplus-icon big">
                                    <use xlink:href="#svg-gplus"></use>
                                </svg>
                                <!-- /GPLUS ICON -->
                                <p class="bubble-ornament-text">46</p>
                                <p class="bubble-ornament-text hover-replace">Share</p>
                            </a>
                            <!-- /BUBBLE ORNAMENT -->
                        </div>
                        <!-- /SOCIAL LINKS -->
                    </div>
                    <!-- /POST OPEN SIDEBAR -->
                </div>
                <!-- /POST OPEN CONTENT -->
                <!-- POST OPEN TAGS -->
                <div class="post-open-tags">
                    <!-- TAG LIST -->
                    <div class="tag-list">
                        <!-- TAG ITEM -->
                        <a href="search-results.html" class="tag-item">Gaming</a>
                        <!-- /TAG ITEM -->
                        <!-- TAG ITEM -->
                        <a href="search-results.html" class="tag-item">Video Reviews</a>
                        <!-- /TAG ITEM -->
                        <!-- TAG ITEM -->
                        <a href="search-results.html" class="tag-item">Previews</a>
                        <!-- /TAG ITEM -->
                        <!-- TAG ITEM -->
                        <a href="search-results.html" class="tag-item">Movie Reviews</a>
                        <!-- /TAG ITEM -->
                        <!-- TAG ITEM -->
                        <a href="search-results.html" class="tag-item">Movie News</a>
                        <!-- /TAG ITEM -->
                        <!-- TAG ITEM -->
                        <a href="search-results.html" class="tag-item">Critic</a>
                        <!-- /TAG ITEM -->
                        <!-- TAG ITEM -->
                        <a href="search-results.html" class="tag-item">Ratings</a>
                        <!-- /TAG ITEM -->
                        <!-- TAG ITEM -->
                        <a href="search-results.html" class="tag-item">Funtendo</a>
                        <!-- /TAG ITEM -->
                    </div>
                    <!-- /TAG LIST -->
                </div>
                <!-- /POST OPEN TAGS -->
            </div>
            <!-- /POST OPEN -->
            <!-- WIDGET NEWS -->
            <div class="widget-news">
                <!-- SECTION TITLE WRAP -->
                <div class="section-title-wrap blue">
                    <h2 class="section-title medium">Related News</h2>
                    <div class="section-title-separator"></div>
                </div>
                <!-- /SECTION TITLE WRAP -->
                <!-- POST PREVIEW SHOWCASE -->
                <div class="post-preview-showcase grid-3col centered">
                    <!-- POST PREVIEW -->
                    <div class="post-preview gaming-news">
                        <!-- POST PREVIEW IMG WRAP -->
                        <a href="post-v1.html">
                            <div class="post-preview-img-wrap">
                                <!-- POST PREVIEW IMG -->
                                <figure class="post-preview-img liquid">
                                    <img src="~/Content/img/posts/09.jpg" alt="post-09">
                                </figure>
                                <!-- /POST PREVIEW IMG -->
                            </div>
                        </a>
                        <!-- /POST PREVIEW IMG WRAP -->
                        <!-- TAG ORNAMENT -->
                        <a href="news-v1.html" class="tag-ornament">Gaming news</a>
                        <!-- /TAG ORNAMENT -->
                        <!-- POST PREVIEW TITLE -->
                        <a href="post-v1.html" class="post-preview-title">New "Rizen" game is gonna be released in summer 2019</a>
                        <!-- POST AUTHOR INFO -->
                        <div class="post-author-info-wrap">
                            <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Vellatrix</a><span class="separator">|</span>December 15th, 2018</p>
                        </div>
                        <!-- /POST AUTHOR INFO -->
                        <!-- POST PREVIEW TEXT -->
                        <p class="post-preview-text">Lorem ipsum dolor sit amet, consectetur bere adipisicing elit, sed do eiusmod tempor lorem incididunt ut labore et dolore magna.</p>
                    </div>
                    <!-- /POST PREVIEW -->
                    <!-- POST PREVIEW -->
                    <div class="post-preview geeky-news">
                        <!-- POST PREVIEW IMG WRAP -->
                        <a href="post-v4.html">
                            <div class="post-preview-img-wrap">
                                <!-- POST PREVIEW IMG -->
                                <figure class="post-preview-img liquid">
                                    <img src="~/Content/img/posts/02.jpg" alt="post-02">
                                </figure>
                                <!-- /POST PREVIEW IMG -->
                            </div>
                        </a>
                        <!-- /POST PREVIEW IMG WRAP -->
                        <!-- TAG ORNAMENT -->
                        <a href="news-v4.html" class="tag-ornament">Geeky news</a>
                        <!-- /TAG ORNAMENT -->
                        <!-- POST PREVIEW TITLE -->
                        <a href="post-v4.html" class="post-preview-title">Jessica Tam to star in the new "Charlotte" series</a>
                        <!-- POST AUTHOR INFO -->
                        <div class="post-author-info-wrap">
                            <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Vellatrix</a><span class="separator">|</span>December 15th, 2018</p>
                        </div>
                        <!-- /POST AUTHOR INFO -->
                        <!-- POST PREVIEW TEXT -->
                        <p class="post-preview-text">Lorem ipsum dolor sit amet, consectetur bere adipisicing elit, sed do eiusmod tempor lorem incididunt ut labore et dolore magna.</p>
                    </div>
                    <!-- /POST PREVIEW -->
                    <!-- POST PREVIEW -->
                    <div class="post-preview movie-news">
                        <!-- POST PREVIEW IMG WRAP -->
                        <a href="post-v3.html">
                            <div class="post-preview-img-wrap">
                                <!-- POST PREVIEW IMG -->
                                <figure class="post-preview-img liquid">
                                    <img src="~/Content/img/posts/12.jpg" alt="post-12">
                                </figure>
                                <!-- /POST PREVIEW IMG -->
                                <!-- RATING ORNAMENT -->
                                <div class="rating-ornament">
                                    <!-- RATING ORNAMENT ITEM -->
                                    <div class="rating-ornament-item">
                                        <!-- RATING ORNAMENT ICON -->
                                        <svg class="rating-ornament-icon">
                                            <use xlink:href="#svg-star"></use>
                                        </svg>
                                    </div>
                                    <!-- /RATING ORNAMENT ITEM -->
                                    <!-- RATING ORNAMENT ITEM -->
                                    <div class="rating-ornament-item">
                                        <!-- RATING ORNAMENT ICON -->
                                        <svg class="rating-ornament-icon">
                                            <use xlink:href="#svg-star"></use>
                                        </svg>
                                    </div>
                                    <!-- /RATING ORNAMENT ITEM -->
                                    <!-- RATING ORNAMENT ITEM -->
                                    <div class="rating-ornament-item">
                                        <!-- RATING ORNAMENT ICON -->
                                        <svg class="rating-ornament-icon">
                                            <use xlink:href="#svg-star"></use>
                                        </svg>
                                    </div>
                                    <!-- /RATING ORNAMENT ITEM -->
                                    <!-- RATING ORNAMENT ITEM -->
                                    <div class="rating-ornament-item">
                                        <!-- RATING ORNAMENT ICON -->
                                        <svg class="rating-ornament-icon empty">
                                            <use xlink:href="#svg-star"></use>
                                        </svg>
                                    </div>
                                    <!-- /RATING ORNAMENT ITEM -->
                                    <!-- RATING ORNAMENT ITEM -->
                                    <div class="rating-ornament-item">
                                        <!-- RATING ORNAMENT ICON -->
                                        <svg class="rating-ornament-icon empty">
                                            <use xlink:href="#svg-star"></use>
                                        </svg>
                                    </div>
                                    <!-- /RATING ORNAMENT ITEM -->
                                </div>
                                <!-- /RATING ORNAMENT -->
                            </div>
                        </a>
                        <!-- /POST PREVIEW IMG WRAP -->
                        <!-- TAG ORNAMENT -->
                        <a href="news-v3.html" class="tag-ornament">Movie news</a>
                        <!-- /TAG ORNAMENT -->
                        <!-- POST PREVIEW TITLE -->
                        <a href="post-v3.html" class="post-preview-title">We reviewed the "Guardians of the Universe" movie</a>
                        <!-- POST AUTHOR INFO -->
                        <div class="post-author-info-wrap">
                            <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Faye V.</a><span class="separator">|</span>December 15th, 2018</p>
                        </div>
                        <!-- /POST AUTHOR INFO -->
                        <!-- POST PREVIEW TEXT -->
                        <p class="post-preview-text">Lorem ipsum dolor sit amet, consectetur bere adipisicing elit, sed do eiusmod tempor lorem incididunt ut labore et dolore magna.</p>
                    </div>
                    <!-- /POST PREVIEW -->
                </div>
                <!-- /POST PREVIEW SHOWCASE -->
            </div>
            <!-- /WIDGET NEWS -->
            <!-- POST COMMENT FORM WRAP -->
            <div class="post-comment-form-wrap">
                <!-- SECTION TITLE WRAP -->
                <div class="section-title-wrap blue">
                    <h2 class="section-title medium">Write a comment</h2>
                    <div class="section-title-separator"></div>
                </div>
                <!-- /SECTION TITLE WRAP -->
                <!-- POST COMMENT FORM -->
                <form class="post-comment-form">
                    <!-- FORM ROW -->
                    <div class="form-row">
                        <!-- FORM ITEM -->
                        <div class="form-item half blue">
                            <label for="pcf_name" class="rl-label">Your Name</label>
                            <input type="text" id="pcf_name" name="pcf_name" placeholder="Enter your first name here...">
                        </div>
                        <!-- /FORM ITEM -->
                        <!-- FORM ITEM -->
                        <div class="form-item half blue">
                            <label for="pcf_email" class="rl-label">Your Email</label>
                            <input type="text" id="pcf_email" name="pcf_email" placeholder="Enter your email here...">
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->
                    <!-- FORM ROW -->
                    <div class="form-row">
                        <!-- FORM ITEM -->
                        <div class="form-item blue">
                            <label for="pcf_comment" class="rl-label">Your Comment</label>
                            <textarea name="pcf_comment" id="pcf_comment" class="violet" placeholder="Write you comment here..."></textarea>
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->
                    <!-- SUBMIT BUTTON WRAP -->
                    <div class="submit-button-wrap right">
                        <!-- SUBMIT BUTTON -->
                        <button class="submit-button button blue">
                            Post your comment
                            <!-- BUTTON ORNAMENT -->
                            <span class="button-ornament">
                                <!-- ARROW ICON -->
                                <svg class="arrow-icon medium">
                                    <use xlink:href="#svg-arrow-medium"></use>
                                </svg>
                                <!-- /ARROW ICON -->
                                <!-- CROSS ICON -->
                                <svg class="cross-icon small">
                                    <use xlink:href="#svg-cross-small"></use>
                                </svg>
                                <!-- /CROSS ICON -->
                            </span>
                            <!-- /BUTTON ORNAMENT -->
                        </button>
                        <!-- /SUBMIT BUTTON -->
                    </div>
                    <!-- /SUBMIT BUTTON WRAP -->
                </form>
                <!-- /POST COMMENT FORM -->
            </div>
            <!-- /POST COMMENT FORM WRAP -->
            <!-- POST COMMENT THREAD -->
            <div id="op-comments" class="post-comment-thread">
                <!-- SECTION TITLE WRAP -->
                <div class="section-title-wrap blue">
                    <h2 class="section-title medium">Comments (174)</h2>
                    <div class="section-title-separator"></div>
                </div>
                <!-- /SECTION TITLE WRAP -->
                <!-- POST COMMENT -->
                <div class="post-comment">
                    <!-- USER AVATAR -->
                    <figure class="user-avatar medium liquid">
                        <img src="~/Content/img/users/09.jpg" alt="user-09">
                    </figure>
                    <!-- /USER AVATAR -->
                    <!-- POST COMMENT USERNAME -->
                    <p class="post-comment-username">Elizabeth Valentine</p>
                    <!-- /POST COMMENT USERNAME -->
                    <!-- POST COMMENT TIMESTAMP -->
                    <p class="post-comment-timestamp">25 mins ago</p>
                    <!-- /POST COMMENT TIMESTAMP -->
                    <!-- REPORT BUTTON -->
                    <a href="#" class="report-button">Report</a>
                    <!-- /REPORT BUTTON -->
                    <!-- POST COMMENT TEXT -->
                    <p class="post-comment-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <!-- /POST COMMENT TEXT -->
                    <!-- POST COMMENT ACTIONS -->
                    <div class="post-comment-actions">
                        <!-- REPLY BUTTON -->
                        <div class="reply-button bubble-ornament blue">
                            <i class="icon-action-undo reply-icon"></i>
                        </div>
                        <!-- /REPLY BUTTON -->
                        <!-- LIKE BUTTON -->
                        <div class="like-button bubble-ornament hoverable cyan">
                            <i class="icon-like like-icon"></i>
                        </div>
                        <!-- /LIKE BUTTON -->
                        <!-- LIKES COUNT -->
                        <p class="likes-count">12 Thumbs Up</p>
                        <!-- /LIKES COUNT -->
                    </div>
                    <!-- /POST COMMENT ACTIONS -->
                </div>
                <!-- /POST COMMENT -->
                <!-- POST COMMENT -->
                <div class="post-comment">
                    <!-- USER AVATAR -->
                    <figure class="user-avatar medium liquid">
                        <img src="~/Content/img/users/07.jpg" alt="user-07">
                    </figure>
                    <!-- /USER AVATAR -->
                    <!-- POST COMMENT USERNAME -->
                    <p class="post-comment-username">Thomas Stevens</p>
                    <!-- /POST COMMENT USERNAME -->
                    <!-- POST COMMENT TIMESTAMP -->
                    <p class="post-comment-timestamp">49 mins ago</p>
                    <!-- /POST COMMENT TIMESTAMP -->
                    <!-- REPORT BUTTON -->
                    <a href="#" class="report-button">Report</a>
                    <!-- /REPORT BUTTON -->
                    <!-- POST COMMENT TEXT -->
                    <p class="post-comment-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <!-- /POST COMMENT TEXT -->
                    <!-- POST COMMENT ACTIONS -->
                    <div class="post-comment-actions">
                        <!-- REPLY BUTTON -->
                        <div class="reply-button bubble-ornament blue">
                            <i class="icon-action-undo reply-icon"></i>
                        </div>
                        <!-- /REPLY BUTTON -->
                        <!-- LIKE BUTTON -->
                        <div class="like-button bubble-ornament hoverable cyan">
                            <i class="icon-like like-icon"></i>
                        </div>
                        <!-- /LIKE BUTTON -->
                        <!-- LIKES COUNT -->
                        <p class="likes-count">36 Thumbs Up</p>
                        <!-- /LIKES COUNT -->
                    </div>
                    <!-- /POST COMMENT ACTIONS -->
                    <!-- POST COMMENT -->
                    <div class="post-comment">
                        <!-- USER AVATAR -->
                        <figure class="user-avatar medium liquid">
                            <img src="~/Content/img/users/06.jpg" alt="user-06">
                        </figure>
                        <!-- /USER AVATAR -->
                        <!-- POST COMMENT USERNAME -->
                        <p class="post-comment-username">Megan Lebeau</p>
                        <!-- /POST COMMENT USERNAME -->
                        <!-- POST COMMENT TIMESTAMP -->
                        <p class="post-comment-timestamp">6 mins ago</p>
                        <!-- /POST COMMENT TIMESTAMP -->
                        <!-- REPORT BUTTON -->
                        <a href="#" class="report-button">Report</a>
                        <!-- /REPORT BUTTON -->
                        <!-- POST COMMENT TEXT -->
                        <p class="post-comment-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <!-- /POST COMMENT TEXT -->
                        <!-- POST COMMENT ACTIONS -->
                        <div class="post-comment-actions">
                            <!-- REPLY BUTTON -->
                            <div class="reply-button bubble-ornament blue">
                                <i class="icon-action-undo reply-icon"></i>
                            </div>
                            <!-- /REPLY BUTTON -->
                            <!-- LIKE BUTTON -->
                            <div class="like-button bubble-ornament hoverable cyan">
                                <i class="icon-like like-icon"></i>
                            </div>
                            <!-- /LIKE BUTTON -->
                            <!-- LIKES COUNT -->
                            <p class="likes-count">6 Thumbs Up</p>
                            <!-- /LIKES COUNT -->
                        </div>
                        <!-- /POST COMMENT ACTIONS -->
                    </div>
                    <!-- /POST COMMENT -->
                </div>
                <!-- /POST COMMENT -->
                <!-- POST COMMENT -->
                <div class="post-comment">
                    <!-- USER AVATAR -->
                    <figure class="user-avatar medium liquid">
                        <img src="~/Content/img/users/01.jpg" alt="user-01">
                    </figure>
                    <!-- /USER AVATAR -->
                    <!-- POST COMMENT USERNAME -->
                    <p class="post-comment-username text-tag staff">Dexter Danvers</p>
                    <!-- /POST COMMENT USERNAME -->
                    <!-- POST COMMENT TIMESTAMP -->
                    <p class="post-comment-timestamp">2 hours ago</p>
                    <!-- /POST COMMENT TIMESTAMP -->
                    <!-- REPORT BUTTON -->
                    <a href="#" class="report-button">Report</a>
                    <!-- /REPORT BUTTON -->
                    <!-- POST COMMENT TEXT -->
                    <p class="post-comment-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <!-- /POST COMMENT TEXT -->
                    <!-- POST COMMENT ACTIONS -->
                    <div class="post-comment-actions">
                        <!-- REPLY BUTTON -->
                        <div class="reply-button bubble-ornament blue">
                            <i class="icon-action-undo reply-icon"></i>
                        </div>
                        <!-- /REPLY BUTTON -->
                        <!-- LIKE BUTTON -->
                        <div class="like-button bubble-ornament hoverable cyan">
                            <i class="icon-like like-icon"></i>
                        </div>
                        <!-- /LIKE BUTTON -->
                        <!-- LIKES COUNT -->
                        <p class="likes-count">47 Thumbs Up</p>
                        <!-- /LIKES COUNT -->
                    </div>
                    <!-- /POST COMMENT ACTIONS -->
                </div>
                <!-- /POST COMMENT -->
            </div>
            <!-- /POST COMMENT THREAD -->
        </div>
        <!-- /LAYOUT ITEM -->
        <!-- PAGE NAVIGATION -->
        <div class="page-navigation blue right spaced">
            <!-- CONTROL PREVIOUS -->
            <div class="slider-control big control-previous">
                <!-- ARROW ICON -->
                <svg class="arrow-icon medium">
                    <use xlink:href="#svg-arrow-medium"></use>
                </svg>
                <!-- /ARROW ICON -->
            </div>
            <!-- /CONTROL PREVIOUS -->
            <a href="#" class="page-navigation-item">1</a>
            <a href="#" class="page-navigation-item active">2</a>
            <a href="#" class="page-navigation-item">3</a>
            <a href="#" class="page-navigation-item">...</a>
            <a href="#" class="page-navigation-item">8</a>
            <!-- CONTROL PREVIOUS -->
            <div class="slider-control big control-next">
                <!-- ARROW ICON -->
                <svg class="arrow-icon medium">
                    <use xlink:href="#svg-arrow-medium"></use>
                </svg>
                <!-- /ARROW ICON -->
            </div>
            <!-- /CONTROL PREVIOUS -->
        </div>
        <!-- /PAGE NAVIGATION -->
    </div>
    <!-- /LAYOUT BODY -->
    <!-- LAYOUT SIDEBAR -->
    <div class="layout-sidebar layout-item gutter-medium">
        <!-- WIDGET SIDEBAR -->
        <div class="widget-sidebar">
            <!-- SECTION TITLE WRAP -->
            <div class="section-title-wrap blue">
                <h2 class="section-title medium">Popular Posts</h2>
                <div class="section-title-separator"></div>
            </div>
            <!-- /SECTION TITLE WRAP -->
            <!-- POST PREVIEW SHOWCASE -->
            <div class="post-preview-showcase grid-1col centered gutter-small">
                <!-- POST PREVIEW -->
                <div class="post-preview tiny gaming-news">
                    <!-- POST PREVIEW IMG WRAP -->
                    <a href="post-v1.html">
                        <div class="post-preview-img-wrap">
                            <!-- POST PREVIEW IMG -->
                            <figure class="post-preview-img liquid">
                                <img src="~/Content/img/posts/01.jpg" alt="post-01">
                            </figure>
                            <!-- /POST PREVIEW IMG -->
                        </div>
                    </a>
                    <!-- /POST PREVIEW IMG WRAP -->
                    <!-- POST PREVIEW TITLE -->
                    <a href="post-v1.html" class="post-preview-title">The Clash of Dragons is breaking record sales in USA and Japan</a>
                    <!-- POST AUTHOR INFO -->
                    <div class="post-author-info-wrap">
                        <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Dexter</a><span class="separator">|</span>Dec 15th, 2018</p>
                    </div>
                    <!-- /POST AUTHOR INFO -->
                </div>
                <!-- /POST PREVIEW -->
                <!-- POST PREVIEW -->
                <div class="post-preview tiny game-review">
                    <!-- POST PREVIEW IMG WRAP -->
                    <a href="post-v2.html">
                        <div class="post-preview-img-wrap">
                            <!-- POST PREVIEW IMG -->
                            <figure class="post-preview-img liquid">
                                <img src="~/Content/img/posts/25.jpg" alt="post-25">
                            </figure>
                            <!-- /POST PREVIEW IMG -->
                            <!-- REVIEW RATING -->
                            <div class="review-rating">
                                <div id="sidebar-rate-1" class="arc tiny"></div>
                            </div>
                            <!-- /REVIEW RATING -->
                        </div>
                    </a>
                    <!-- /POST PREVIEW IMG WRAP -->
                    <!-- POST PREVIEW TITLE -->
                    <a href="post-v2.html" class="post-preview-title">"Legend of Kenshii II" is a bit green for now</a>
                    <!-- POST AUTHOR INFO -->
                    <div class="post-author-info-wrap">
                        <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Vellatrix</a><span class="separator">|</span>Dec 15th, 2018</p>
                    </div>
                    <!-- /POST AUTHOR INFO -->
                </div>
                <!-- /POST PREVIEW -->
                <!-- POST PREVIEW -->
                <div class="post-preview tiny movie-news">
                    <!-- POST PREVIEW IMG WRAP -->
                    <a href="post-v3.html">
                        <div class="post-preview-img-wrap">
                            <!-- POST PREVIEW IMG -->
                            <figure class="post-preview-img liquid">
                                <img src="~/Content/img/posts/12.jpg" alt="post-12">
                            </figure>
                            <!-- /POST PREVIEW IMG -->
                            <!-- RATING ORNAMENT -->
                            <div class="rating-ornament">
                                <!-- RATING ORNAMENT ITEM -->
                                <div class="rating-ornament-item">
                                    <!-- RATING ORNAMENT ICON -->
                                    <svg class="rating-ornament-icon">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </div>
                                <!-- /RATING ORNAMENT ITEM -->
                                <!-- RATING ORNAMENT ITEM -->
                                <div class="rating-ornament-item">
                                    <!-- RATING ORNAMENT ICON -->
                                    <svg class="rating-ornament-icon">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </div>
                                <!-- /RATING ORNAMENT ITEM -->
                                <!-- RATING ORNAMENT ITEM -->
                                <div class="rating-ornament-item">
                                    <!-- RATING ORNAMENT ICON -->
                                    <svg class="rating-ornament-icon">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </div>
                                <!-- /RATING ORNAMENT ITEM -->
                                <!-- RATING ORNAMENT ITEM -->
                                <div class="rating-ornament-item">
                                    <!-- RATING ORNAMENT ICON -->
                                    <svg class="rating-ornament-icon empty">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </div>
                                <!-- /RATING ORNAMENT ITEM -->
                                <!-- RATING ORNAMENT ITEM -->
                                <div class="rating-ornament-item">
                                    <!-- RATING ORNAMENT ICON -->
                                    <svg class="rating-ornament-icon empty">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </div>
                                <!-- /RATING ORNAMENT ITEM -->
                            </div>
                            <!-- /RATING ORNAMENT -->
                        </div>
                    </a>
                    <!-- /POST PREVIEW IMG WRAP -->
                    <!-- POST PREVIEW TITLE -->
                    <a href="post-v3.html" class="post-preview-title">We reviewed the "Guardians of the Universe" movie</a>
                    <!-- POST AUTHOR INFO -->
                    <div class="post-author-info-wrap">
                        <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Faye V.</a><span class="separator">|</span>Dec 15th, 2018</p>
                    </div>
                    <!-- /POST AUTHOR INFO -->
                </div>
                <!-- /POST PREVIEW -->
                <!-- POST PREVIEW -->
                <div class="post-preview tiny gaming-news">
                    <!-- POST PREVIEW IMG WRAP -->
                    <a href="post-v1.html">
                        <div class="post-preview-img-wrap">
                            <!-- POST PREVIEW IMG -->
                            <figure class="post-preview-img liquid">
                                <img src="~/Content/img/posts/17.jpg" alt="post-17">
                            </figure>
                            <!-- /POST PREVIEW IMG -->
                        </div>
                    </a>
                    <!-- /POST PREVIEW IMG WRAP -->
                    <!-- POST PREVIEW TITLE -->
                    <a href="post-v1.html" class="post-preview-title">Jazzstar announced that the GTE5 for PC is delayed</a>
                    <!-- POST AUTHOR INFO -->
                    <div class="post-author-info-wrap">
                        <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Dexter</a><span class="separator">|</span>Dec 15th, 2018</p>
                    </div>
                    <!-- /POST AUTHOR INFO -->
                </div>
                <!-- /POST PREVIEW -->
            </div>
            <!-- /POST PREVIEW SHOWCASE -->
        </div>
        <!-- /WIDGET SIDEBAR -->
        <!-- WIDGET SIDEBAR -->
        <div class="widget-sidebar">
            <!-- SECTION TITLE WRAP -->
            <div class="section-title-wrap red">
                <h2 class="section-title medium">Latest Reviews</h2>
                <div class="section-title-separator"></div>
            </div>
            <!-- /SECTION TITLE WRAP -->
            <!-- POST PREVIEW SHOWCASE -->
            <div class="post-preview-showcase grid-1col centered gutter-small">
                <!-- POST PREVIEW -->
                <div class="post-preview tiny game-review">
                    <!-- POST PREVIEW IMG WRAP -->
                    <a href="post-v2.html">
                        <div class="post-preview-img-wrap">
                            <!-- POST PREVIEW IMG -->
                            <figure class="post-preview-img liquid">
                                <img src="~/Content/img/posts/16.jpg" alt="post-16">
                            </figure>
                            <!-- /POST PREVIEW IMG -->
                            <!-- REVIEW RATING -->
                            <div class="review-rating">
                                <div id="sidebar-rate-2" class="arc tiny"></div>
                            </div>
                            <!-- /REVIEW RATING -->
                        </div>
                    </a>
                    <!-- /POST PREVIEW IMG WRAP -->
                    <!-- POST PREVIEW TITLE -->
                    <a href="post-v2.html" class="post-preview-title">We reviewed the new Magimons game</a>
                    <!-- POST AUTHOR INFO -->
                    <div class="post-author-info-wrap">
                        <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Vellatrix</a><span class="separator">|</span>Dec 15th, 2018</p>
                    </div>
                    <!-- /POST AUTHOR INFO -->
                </div>
                <!-- /POST PREVIEW -->
                <!-- POST PREVIEW -->
                <div class="post-preview tiny game-review">
                    <!-- POST PREVIEW IMG WRAP -->
                    <a href="post-v2.html">
                        <div class="post-preview-img-wrap">
                            <!-- POST PREVIEW IMG -->
                            <figure class="post-preview-img liquid">
                                <img src="~/Content/img/posts/25.jpg" alt="post-25">
                            </figure>
                            <!-- /POST PREVIEW IMG -->
                            <!-- REVIEW RATING -->
                            <div class="review-rating">
                                <div id="sidebar-rate-3" class="arc tiny"></div>
                            </div>
                            <!-- /REVIEW RATING -->
                        </div>
                    </a>
                    <!-- /POST PREVIEW IMG WRAP -->
                    <!-- POST PREVIEW TITLE -->
                    <a href="post-v2.html" class="post-preview-title">"Legend of Kenshii II" is a bit green for now</a>
                    <!-- POST AUTHOR INFO -->
                    <div class="post-author-info-wrap">
                        <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Vellatrix</a><span class="separator">|</span>Dec 15th, 2018</p>
                    </div>
                    <!-- /POST AUTHOR INFO -->
                </div>
                <!-- /POST PREVIEW -->
                <!-- POST PREVIEW -->
                <div class="post-preview tiny game-review">
                    <!-- POST PREVIEW IMG WRAP -->
                    <a href="post-v2.html">
                        <div class="post-preview-img-wrap">
                            <!-- POST PREVIEW IMG -->
                            <figure class="post-preview-img liquid">
                                <img src="~/Content/img/posts/05.jpg" alt="post-05">
                            </figure>
                            <!-- /POST PREVIEW IMG -->
                            <!-- REVIEW RATING -->
                            <div class="review-rating">
                                <div id="sidebar-rate-4" class="arc tiny"></div>
                            </div>
                            <!-- /REVIEW RATING -->
                        </div>
                    </a>
                    <!-- /POST PREVIEW IMG WRAP -->
                    <!-- POST PREVIEW TITLE -->
                    <a href="post-v2.html" class="post-preview-title">We reviewed the new and exciting fantasy game "Olympus"</a>
                    <!-- POST AUTHOR INFO -->
                    <div class="post-author-info-wrap">
                        <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Morgana</a><span class="separator">|</span>Dec 15th, 2018</p>
                    </div>
                    <!-- /POST AUTHOR INFO -->
                </div>
                <!-- /POST PREVIEW -->
                <!-- POST PREVIEW -->
                <div class="post-preview tiny game-review">
                    <!-- POST PREVIEW IMG WRAP -->
                    <a href="post-v2.html">
                        <div class="post-preview-img-wrap">
                            <!-- POST PREVIEW IMG -->
                            <figure class="post-preview-img liquid">
                                <img src="~/Content/img/posts/08.jpg" alt="post-08">
                            </figure>
                            <!-- /POST PREVIEW IMG -->
                            <!-- REVIEW RATING -->
                            <div class="review-rating">
                                <div id="sidebar-rate-5" class="arc tiny"></div>
                            </div>
                            <!-- /REVIEW RATING -->
                        </div>
                    </a>
                    <!-- /POST PREVIEW IMG WRAP -->
                    <!-- POST PREVIEW TITLE -->
                    <a href="post-v2.html" class="post-preview-title">The new Mecha Cyborg game is breaking barriers</a>
                    <!-- POST AUTHOR INFO -->
                    <div class="post-author-info-wrap">
                        <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Vellatrix</a><span class="separator">|</span>Dec 15th, 2018</p>
                    </div>
                    <!-- /POST AUTHOR INFO -->
                </div>
                <!-- /POST PREVIEW -->
            </div>
            <!-- /POST PREVIEW SHOWCASE -->
        </div>
        <!-- /WIDGET SIDEBAR -->
        <!-- WIDGET SIDEBAR -->
        <div class="widget-sidebar">
            <!-- PROMO ADVERT -->
            <div class="promo-advert">
                <a href="#">
                    <!-- PROMO ADVERT IMG -->
                    <img class="promo-advert-img" src="~/Content/img/banners/promo-ad-1.jpg" alt="promo-ad-1">
                    <!-- /PROMO ADVERT IMG -->
                </a>
            </div>
            <!-- /PROMO ADVERT -->
        </div>
        <!-- /WIDGET SIDEBAR -->
        <!-- WIDGET SIDEBAR -->
        <div class="widget-sidebar">
            <!-- SECTION TITLE WRAP -->
            <div class="section-title-wrap cyan">
                <h2 class="section-title medium">Featured Video</h2>
                <div class="section-title-separator"></div>
            </div>
            <!-- /SECTION TITLE WRAP -->
            <!-- POST PREVIEW SHOWCASE -->
            <div class="post-preview-showcase grid-1col centered">
                <!-- POST PREVIEW -->
                <div class="post-preview video">
                    <!-- POST PREVIEW IMG WRAP -->
                    <a href="post-video.html">
                        <div class="post-preview-img-wrap">
                            <!-- POST PREVIEW IMG -->
                            <figure class="post-preview-img liquid">
                                <img src="~/Content/img/posts/03.jpg" alt="post-03">
                            </figure>
                            <!-- /POST PREVIEW IMG -->
                            <!-- POST PREVIEW OVERLAY -->
                            <div class="post-preview-overlay">
                                <!-- PLAY BUTTON -->
                                <div class="play-button">
                                    <!-- PLAY BUTTON ICON -->
                                    <svg class="play-button-icon">
                                        <use xlink:href="#svg-play"></use>
                                    </svg>
                                    <!-- /PLAY BUTTON ICON -->
                                </div>
                                <!-- /PLAY BUTTON -->
                                <!-- POST PREVIEW OVERLAY INFO -->
                                <div class="post-preview-overlay-info">
                                    <!-- POST PREVIEW TITLE -->
                                    <p class="post-preview-title">"The Sandbenders II" break the bad sequel spell with a...</p>
                                    <!-- POST PREVIEW TEXT -->
                                    <p class="post-preview-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                </div>
                                <!-- /POST PREVIEW OVERLAY INFO -->
                            </div>
                            <!-- /POST PREVIEW OVERLAY -->
                        </div>
                    </a>
                    <!-- /POST PREVIEW IMG WRAP -->
                </div>
                <!-- /POST PREVIEW -->
            </div>
            <!-- /POST PREVIEW SHOWCASE -->
        </div>
        <!-- /WIDGET SIDEBAR -->
        <!-- WIDGET SIDEBAR -->
        <div class="widget-sidebar">
            <!-- SECTION TITLE WRAP -->
            <div class="section-title-wrap blue">
                <h2 class="section-title medium">Pixel Tags</h2>
                <div class="section-title-separator"></div>
            </div>
            <!-- /SECTION TITLE WRAP -->
            <!-- TAG LIST -->
            <div class="tag-list">
                <!-- TAG ITEM -->
                <a href="search-results.html" class="tag-item">Gaming</a>
                <!-- /TAG ITEM -->
                <!-- TAG ITEM -->
                <a href="search-results.html" class="tag-item">Video Reviews</a>
                <!-- /TAG ITEM -->
                <!-- TAG ITEM -->
                <a href="search-results.html" class="tag-item">Previews</a>
                <!-- /TAG ITEM -->
                <!-- TAG ITEM -->
                <a href="search-results.html" class="tag-item">Movie Reviews</a>
                <!-- /TAG ITEM -->
                <!-- TAG ITEM -->
                <a href="search-results.html" class="tag-item">Movie News</a>
                <!-- /TAG ITEM -->
                <!-- TAG ITEM -->
                <a href="search-results.html" class="tag-item">Critic</a>
                <!-- /TAG ITEM -->
                <!-- TAG ITEM -->
                <a href="search-results.html" class="tag-item">Ratings</a>
                <!-- /TAG ITEM -->
                <!-- TAG ITEM -->
                <a href="search-results.html" class="tag-item">Funtendo</a>
                <!-- /TAG ITEM -->
            </div>
            <!-- /TAG LIST -->
        </div>
        <!-- /WIDGET SIDEBAR -->
        <!-- WIDGET SIDEBAR -->
        <div class="widget-sidebar">
            <!-- SECTION TITLE WRAP -->
            <div class="section-title-wrap red">
                <h2 class="section-title medium">Instagram Widget</h2>
                <div class="section-title-separator"></div>
            </div>
            <!-- /SECTION TITLE WRAP -->
            <!-- PHOTO LIST -->
            <div class="photo-list"></div>
            <!-- /PHOTO LIST -->
        </div>
        <!-- /WIDGET SIDEBAR -->
    </div>
    <!-- /LAYOUT SIDEBAR -->
</div>
<!-- /LAYOUT CONTENT 1 -->
