
@{
    ViewBag.Title = "Register";
}


<!-- BANNER WRAP -->
<div class="banner-wrap forum-banner">
    <!-- BANNER -->
    <div class="banner grid-limit">
        <h2 class="banner-title">Login and Register</h2>
        <p class="banner-sections">
            <span class="banner-section">Home</span>
            <!-- ARROW ICON -->
            <svg class="arrow-icon">
                <use xlink:href="#svg-arrow"></use>
            </svg>
            <!-- /ARROW ICON -->
            <span class="banner-section">Login and Register</span>
        </p>
    </div>
    <!-- /BANNER -->
</div>
<!-- /BANNER WRAP -->
<!-- LIVE NEWS WIDGET WRAP -->
<div class="live-news-widget-wrap">
    <!-- LIVE NEWS WIDGET -->
    <div class="live-news-widget grid-limit">
        <!-- LIVE NEWS WIDGET STAIRS -->
        <div class="live-news-widget-stairs left red">
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
        </div>
        <!-- /LIVE NEWS WIDGET STAIRS -->
        <!-- LIVE NEWS WIDGET STAIRS -->
        <div class="live-news-widget-stairs right blue">
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
        </div>
        <!-- /LIVE NEWS WIDGET STAIRS -->
        <!-- LIVE NEWS WIDGET TITLE WRAP -->
        <div class="live-news-widget-title-wrap">
            <img class="live-news-widget-icon" src="~/Content/img/icons/live-news-icon.png" alt="live-news-icon">
            <p class="live-news-widget-title">Live News</p>
        </div>
        <!-- /LIVE NEWS WIDGET TITLE WRAP -->
        <!-- LIVE NEWS WIDGET TEXT WRAP -->
        <div id="lineslide-wrap1" class="live-news-widget-text-wrap">
            <p class="live-news-widget-text"></p>
        </div>
        <!-- /LIVE NEWS WIDGET TEXT WRAP -->
    </div>
    <!-- /LIVE NEWS WIDGET -->
</div>
<!-- /LIVE NEWS WIDGET WRAP -->
<!-- LAYOUT CONTENT FULL -->
<div class="layout-content-full grid-limit">
    <!-- GRID 2 1COL -->
    <div class="grid2-1col centered">
        <!-- TAB WRAP -->
        <div id="tab-login-register" class="tab-wrap">
            <!-- TAB HEADER -->
            <div class="tab-header items-2 border-top">
                <!-- TAB HEADER ITEM -->
                <div class="tab-header-item blue">
                    <!-- TAB HEADER ITEM TEXT -->
                    <p class="tab-header-item-text">Login</p>
                    <!-- /TAB HEADER ITEM TEXT -->
                </div>
                <!-- /TAB HEADER ITEM -->
                <!-- TAB HEADER ITEM -->
                <div class="tab-header-item red">
                    <!-- TAB HEADER ITEM TEXT -->
                    <p class="tab-header-item-text">Register</p>
                    <!-- /TAB HEADER ITEM TEXT -->
                </div>
                <!-- /TAB HEADER ITEM -->
            </div>
            <!-- /TAB HEADER -->
            <!-- TAB BODY -->
            <div class="tab-body">
                <!-- TAB ITEM -->
                <div class="tab-item">
                    <!-- FORM BOX -->
                    <div class="form-box">
                        <!-- SECTION TITLE WRAP -->
                        <div class="section-title-wrap blue">
                            <h1>@TempData["HatalıGiris"]</h1>
                            <h2 class="section-title medium">Login to your account</h2>
                            <div class="section-title-separator"></div>
                        </div>
                        <!-- /SECTION TITLE WRAP -->
                        <!-- FORM WRAP -->
                        <form method="post" action="/Home/Login" id="form-wrap" class="form-wrap">
                            <!-- FORM ROW -->
                            <div class="form-row">
                                <!-- FORM ITEM -->
                                <div class="form-item blue">
                                    <label for="login_email" class="rl-label">Email Address</label>
                                    <input type="text" id="login_email" name="UserMail" placeholder="Enter your email here...">
                                </div>
                                <!-- /FORM ITEM -->
                            </div>
                            <!-- /FORM ROW -->
                            <!-- FORM ROW -->
                            <div class="form-row">
                                <!-- FORM ITEM -->
                                <div class="form-item blue">
                                    <label for="login_pwd" class="rl-label">Password</label>
                                    <input type="password" id="login_pwd" name="UserPassword" placeholder="Enter your password here...">
                                </div>
                                <!-- /FORM ITEM -->
                            </div>
                            <!-- /FORM ROW -->
                            <!-- FORM CONFIRM ROW -->
                            <div class="form-confirm-row">
                                <!-- CHECKBOX ITEM -->
                                <div class="checkbox-item">
                                    <input type="checkbox" id="login_remember_ep" name="login_remember_ep" value="remember_ep" checked>
                                    <!-- CHECKBOX BOX -->
                                    <div class="checkbox-box blue">
                                        <!-- CROSS ICON -->
                                        <svg class="cross-cb-icon small">
                                            <use xlink:href="#svg-cross-cb-small"></use>
                                        </svg>
                                        <!-- /CROSS ICON -->
                                    </div>
                                    <!-- CHECKBOX BOX -->
                                    <label for="login_remember_ep" class="rl-label">Remember Email and Password</label>
                                </div>
                                <!-- /CHECKBOX ITEM -->
                                <!-- LINK TEXT -->
                                <a href="#" class="link-text-form blue">Forgot Password?</a>
                                <!-- /LINK TEXT -->
                            </div>
                            <!-- /FORM CONFIRM ROW -->
                            <!-- FORM ACTIONS -->
                            <div class="form-actions full">
                                <!-- BUTTON -->
                                
                                <button type="submit" class="button blue full">Login Now!</button>
                                <!-- /BUTTON -->
                                <!-- SOCIAL BUTTONS -->
                                <div class="social-buttons">
                                    <!-- BUTTON SOCIAL -->
                                    <a href="#" class="button-social fb">Facebook Login</a>
                                    <!-- /BUTTON SOCIAL -->
                                    <!-- BUTTON SOCIAL -->
                                    <a href="#" class="button-social twt">Twitter Login</a>
                                    <!-- /BUTTON SOCIAL -->
                                </div>
                                <!-- /SOCIAL BUTTONS -->
                            </div>
                            <!-- /FORM ACTIONS -->
                        </form>
                        <!-- /FORM WRAP -->
                    </div>
                    <!-- /FORM BOX -->
                </div>
                <!-- /TAB ITEM -->
                <!-- TAB ITEM -->
                <div class="tab-item">
                    <!-- FORM BOX -->
                    <div class="form-box">
                        
                        <!-- SECTION TITLE WRAP -->
                        <div class="section-title-wrap red">
                            <h1> @TempData["HatalıGiris"]</h1>
                            <h2 class="section-title medium">Register Now!</h2>
                            <div class="section-title-separator"></div>
                        </div>
                        <!-- /SECTION TITLE WRAP -->
                        <!-- FORM WRAP -->
                        <form method="post" action="/Home/Register" id="form-wrap" class="form-wrap" >
                            <!-- FORM ROW -->
                            <div class="form-row">
                                <!-- FORM ITEM -->
                                <div class="form-item red">
                                    <label for="register_email" class="rl-label">Email Address</label>
                                    <input type="text" class="form-input" id="register_email" name="UserMail" placeholder="Enter your email here...">
                                </div>
                                <!-- /FORM ITEM -->
                            </div>
                            <!-- /FORM ROW -->
                            <!-- FORM ROW -->
                            <div class="form-row">
                                <!-- FORM ITEM -->
                                <div class="form-item red">
                                    <label for="register_pwd" class="rl-label">Password</label>
                                    <input type="password" class="form-input" id="register_pwd" name="UserPassword" placeholder="Enter your password here...">
                                </div>
                                <!-- /FORM ITEM -->
                            </div>
                            <!-- /FORM ROW -->
                            <!-- FORM ROW -->
                            <div class="form-row">
                                <!-- FORM ITEM -->
                                <div class="form-item red">
                                    <label for="register_pwd_repeat" class="rl-label">Repeat Password</label>
                                    <input type="password" id="register_pwd_repeat" name="register_pwd_repeat" placeholder="Rewrite your password here...">
                                </div>
                                <!-- /FORM ITEM -->
                            </div>
                            <!-- /FORM ROW -->
                            <!-- FORM ACTIONS -->
                            <div class="form-actions full">
                                <!-- BUTTON -->
                                <button tpye="submit" class="button red full">Create your account!</button>
                                
                                
                                <!-- /BUTTON -->
                                <!-- FORM INFO TEXT -->
                                <p class="form-info-text">You’ll receive a confirmation email in your inbox with a link to activate your account!</p>
                                <!-- /FORM INFO TEXT -->
                            </div>
                            <!-- /FORM ACTIONS -->
                        </form>
                        <!-- /FORM WRAP -->
                    </div>
                    <!-- /FORM BOX -->
                </div>
                <!-- /TAB ITEM -->
            </div>
            <!-- /TAB BODY -->
        </div>
        <!-- /TAB WRAP -->
    </div>
    <!-- /GRID 2 1COL -->
</div>
<!-- LAYOUT CONTENT FULL -->
