@model List<ESG.Model.Entities.User>
@{
    ViewBag.Title = "UserList";
}
    <div class="banner-wrap game-review">
        <!-- BANNER -->
        <div class="banner grid-limit">
            <h2 class="banner-title">Game Reviews</h2>
            <p class="banner-sections">
                <span class="banner-section">Home</span>
                <!-- ARROW ICON -->
                <svg class="arrow-icon">
                    <use xlink:href="#svg-arrow"></use>
                </svg>
                <!-- /ARROW ICON -->
                <span class="banner-section">Game Reviews</span>
            </p>
        </div>
        <!-- /BANNER -->
    </div>
<!-- LIVE NEWS WIDGET WRAP -->
<div class="live-news-widget-wrap">
    <!-- LIVE NEWS WIDGET -->
    <div class="live-news-widget grid-limit">
        <!-- LIVE NEWS WIDGET STAIRS -->
        <div class="live-news-widget-stairs left red">
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
        </div>
        <!-- /LIVE NEWS WIDGET STAIRS -->
        <!-- LIVE NEWS WIDGET STAIRS -->
        <div class="live-news-widget-stairs right blue">
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
            <div class="live-news-widget-stair"></div>
        </div>
        <!-- /LIVE NEWS WIDGET STAIRS -->
        <!-- LIVE NEWS WIDGET TITLE WRAP -->
        <div class="live-news-widget-title-wrap">
            <img class="live-news-widget-icon" src="~/Content/img/icons/live-news-icon.png" alt="live-news-icon">
            <p class="live-news-widget-title">Live News</p>
        </div>
        <!-- /LIVE NEWS WIDGET TITLE WRAP -->
        <!-- LIVE NEWS WIDGET TEXT WRAP -->
        <div id="lineslide-wrap1" class="live-news-widget-text-wrap">
            <p class="live-news-widget-text"></p>
        </div>
        <!-- /LIVE NEWS WIDGET TEXT WRAP -->
    </div>
    <!-- /LIVE NEWS WIDGET -->
</div>

<!-- /LIVE NEWS WIDGET WRAP -->
<br />
<br />
<div class="grid-limit" style="margin-bottom: 40px;">
    <!-- TABLE -->
    <div class="table order-overview cloner-wrap" data-title="Code Copied<br>to Clipboard!" style="position: relative;">
        <!-- TABLE ROW HEADER -->
        <div class="table-row-header">
            <!-- TABLE ROW HEADER ITEM -->
            <div class="table-row-header-item left">
                <p class="table-row-header-title">Name</p>
            </div>
            <!-- /TABLE ROW HEADER ITEM -->
            <!-- TABLE ROW HEADER ITEM -->
            <div class="table-row-header-item left">
                <p class="table-row-header-title">Surname</p>
            </div>
            <!-- /TABLE ROW HEADER ITEM -->
            <!-- TABLE ROW HEADER ITEM -->
            <div class="table-row-header-item padded-big">
                <p class="table-row-header-title">Nickname</p>
            </div>
            <!-- /TABLE ROW HEADER ITEM -->
            <!-- TABLE ROW HEADER ITEM -->
            <div class="table-row-header-item padded-big">
                <p class="table-row-header-title">Invite</p>
            </div>
            <!-- /TABLE ROW HEADER ITEM -->
        
        </div>
        <!-- /TABLE ROW HEADER -->
        <!-- TABLE ROWS -->
        <div class="table-rows no-color">

            @foreach (var item in Model)
            {
                <div class="table-row large">
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item left">
                        <!-- PRODUCT NAME -->
                        <p class="product-name">@item.UserName</p>
                       
                    </div>
                    <!-- /TABLE ROW ITEM -->
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item left">
                        <p class="table-text bold">@item.UserLastName</p>
                    </div>
                    <!-- /TABLE ROW ITEM -->
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item">
                        <p class="table-text bold">@item.NickName</p>
                    </div>
                    <!-- /TABLE ROW ITEM -->
                    <!-- TABLE ROW ITEM -->
                    <div class="table-row-item">
                        <p class="table-text bold"><a href="@Url.Action("InvitePlayer", "Team", new { id = item.UserID })" class="post-preview-title red"><span>INVITE</span></a></p>
                    </div>
                    
                    <!-- /TABLE ROW ITEM -->
                </div>
            }
            <!-- TABLE ROW -->
            <!-- /TABLE ROW -->
        </div>
        <!-- /TABLE ROWS -->
        
    </div>
    <!-- /TABLE -->
</div>



